<!doctype html>
<html>

<head>
	<title>SIMS</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/Index.css') }}">
</head>

<body>
	<h1>
		SIMS (Simple Inventory Management System)
	</h1>
	<button id="normalbutton" type="button" onclick="location.href='/print';" >Print Report</button>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Weight</th>
				<th>Color</th>
				<th>Quantity</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			{% for item in item_list %}
			<tr>
				<td>
					<a href="/modify/{{item.name}}" onclick="javascript:void window.open('/modify/{{item.name}}','1542297738836','width=700,height=400,resizable=1');return false;">{{item.name}}</a>
				</td>
				<td>{{item.price}}</td>
				<td>{{item.weight}}</td>
				<td>{{item.color}}</td>
				<td>{{item.quantity}}</td>
				<td><a href="/delete/{{item.name}}">Delete</a></td>
			</tr>
			{% endfor %}
		</tbody>
		</tr>
	</table>
	<button id="normalbutton" type="button" onclick="location.href='/add';" >Add Item</button>
	<footer>
		<p>Created by: Nathan Rossow | Caleb Trayer | Erin Day | Mikayla Quaderer</p>
	</footer>
</body>

</html>

<!-- color scheme: #c8c3cc, #563f46, #8ca3a3, #484f4f -->