<!doctype html>
<html>
    <head>
        <title>SIMS</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/report.css') }}">
    </head>
    <body>
            <h1>
                    SIMS (Simple Inventory Management System)
            </h1>
            <table>
                    <thead id="report">
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Weight</th>
                            <th>Color</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody id="report">
                        {% for item in item_list %}
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.weight}}</td>
                            <td>{{item.color}}</td>
                            <td>{{item.quantity}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </tr>
                </table>
    </body>
</html>
